@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index1.css"/>
<script src="~/js/Index1.js"></script>
<body>
    <div class="contains">

        <h1 class="h1">Our Student</h1>

        <div>
            <div class="SearchAdd">
                <label for="searchBox"></label>
                <input type="text" id="searchBox" oninput="filterTable()" placeholder="Search..." />
            </div>

            <div>
                <button onclick="AddForm()" class="rounded-button">+Add</button>
            </div>

        </div>


        <div class="text-center" id="table-container">

            @* <table  id="userTable">
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Class</th>
            </tr>
            </table> *@
            <table id="userTable">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>



    </div>
</body>
</html>