@{
    ViewData["Title"] = "Our Student";
}

<div class="text-center">
    <h1 class="display-4">Our Student</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
